#secondheader {
    background-color: rgb(255, 255, 255);
    height: 750px;
    width: 100%;
    margin:-70px auto;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}
@media screen and (max-device-width: 1024px){
    #secondheader {
        background-attachment: inherit;
    }
}