#admindisplay {
    min-height: 95vh;
    width: 100%;
    height: 100%;
    background-color: #283339;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imgadminsc {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    align-self: center;
}
.adminpostcs {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5px;
    gap: 10px;
}
.itemlinkca {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    width: 100%;
    text-decoration: none;
    color: #333;
    border-radius: 5px;
}
.itemlinkca {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.89);
}
.itemlinkca:hover {
    color: #333;
    text-decoration: none;
  }
  @media (max-width: 850px) {
    .itemlinkca {
        flex-direction: column;
    }
    }