#login {
    background-color: #242321;
    height: 670px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-size: cover;
}
.loginContent {
    font-family: 'Barlow Condensed', sans-serif;
}